---
fail_fast : true

repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v2.3.0
        hooks:
        -   id: check-ast
        -   id: check-executables-have-shebangs
            exclude: "__init__.py"
        -   id: check-merge-conflict
        -   id: check-symlinks
        -   id: check-yaml
        -   id: end-of-file-fixer
        -   id: flake8
            args: [--max-line-length=90]
            additional_dependencies: [flake8-blind-except, flake8-black, flake8-isort, flake8-pytest]
        -   id: trailing-whitespace

    -   repo: https://github.com/jumanjihouse/pre-commit-hooks
        rev: ''
        hooks:
        -   id: shellcheck

    -   repo: https://github.com/jumanjihouse/pre-commit-hooks
        rev: ''
        hooks:
        -   id: script-must-have-extension
            name: Local policy is to use .sh extension for shell scripts
            types: [shell, executable]

    -   repo: https://github.com/Lucas-C/pre-commit-hooks-go
        rev: ''
        hooks:
        -   id: checkmake

    -   repo: https://github.com/asottile/seed-isort-config
        rev: v1.9.2
        hooks:
        -   id: seed-isort-config

    -   repo: https://github.com/pre-commit/mirrors-isort
        rev: v4.3.20
        hooks:
        -   id: isort

    -   repo: https://github.com/psf/black
        rev: 19.3b0
        hooks:
        -   id: black
            language_version: python3.6

    -   repo: https://github.com/asottile/pyupgrade
        rev: v1.22.1
        hooks:
        -   id: pyupgrade

    -   repo: https://github.com/Lucas-C/pre-commit-hooks
        rev: ''
        hooks:
        -   id: forbid-crlf
        -   id: forbid-tabs

    -   repo: https://github.com/pre-commit/pygrep-hooks
        rev: ''
        hooks:
        -   id: python-no-eval
        -   id: python-no-log-warn
        -   id: rst-backticks
